<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /fixedasset-vue/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /fixedasset-vue/index.html [L]
</IfModule>